.cover {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/media/cover.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.startbutton {
  margin: auto;
  width: 30vw; 
  height: 15vh;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(370%);
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  box-shadow: 10px 10px 15px;
}

.startbutton:hover {
  box-shadow: 10px 10px 5px;
  background-color: rgb(199, 199, 110);
  transition: 0.1s;
}
