.cover {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/media/cover-initial.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.startbutton {
  margin: auto;
  width: 30vw;
  height: 30vh;
  background-color: yellow;
  display: none;
}
